{{#if posts}}
    <section class="related-wrapper gh-canvas">
        <h3 class="related-title">You might also like...</h3>
        <div class="related-feed">
            {{#foreach posts}}
                {{> partials/loop}}
            {{/foreach}}
        </div>
    </section>
{{/if}}