{{#*inline "body"}}
<main class="site-main">

    <div class="post-feed gh-feed gh-canvas">
        {{#foreach posts}}
            {{> partials/loop}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>
{{/inline}}
{{> default}}